{% extends 'layout.twig' %}

{% block body %}

    {% for topic in topics %}
        <h3 class="name-topic-header-style" style="color: {{ topic.color.name }}">{{ topic.name }}</h3> <a href="{{ topic.url }}/edit" data-toggle="tooltip" ><i class="far fa-edit" style="color: {{ topic.color.name }}"></i></a><br>

        <div class="entity-buttons-container">
        {% for entity in entities %}

            {% if entity.topic.id == topic.id %}

                <button type="button" class="rounded-button" style="background-color: {{ entity.color.name }}" onclick="location.href='{{ entity.url }}'">
                    {{ entity.name }}
                </button>
            {% endif %}

        {% endfor %}
            <!-- Button for add entity -->
            <div style="display: inline-block;">
                <button class="circle-button"  data-toggle="modal" data-target="#addEntityModal" onclick="load_form('/entity/add/{{ topic.id }}', '#form_add_entity')">
                    +
                </button>
            </div>
        </div>
    {% endfor %}
    <!--onclick="location.href='/entity/add'" -->
    <div class="add-entity-buttons-container menu-buttons-container">
        <button type="button"class="rounded-button" data-toggle="modal" data-target="#addTopicModal" onclick="load_form('/topic/add', '#form_add_topic')">
            Add topic
        </button>
    </div>

    <!-- Модальне вікно для addEntity -->
    <div class="modal fade" id="addEntityModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalLabel"> Add New Entity </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div id="form_add_entity" style="margin: 10px">
                    {# форму тянемо ajax #}
                </div>

            </div>
        </div>
    </div>
    <!-- Модальне вікно для addTopic -->
    <div class="modal fade" id="addTopicModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalLabel"> Add New Topic </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="form_add_topic" style="margin: 10px">
                    {# форму тянемо ajax #}
                </div>
            </div>
        </div>
    </div>

    <br><br>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        function load_form (url, target) {
            $.ajax({
                method: "GET",
                url: url,
                dataType: "html"
            }).done(function( data ) {
                $(target).html(data);
            });
        }
    </script>

{% endblock %}

