{% extends 'layout.twig' %}

{% block body %}

<div class = "entity-detail-frame" style="border-color: {{ entity.color.name }}" >
    <h3 class = "name-entity-detail-frame" style="color: {{ entity.color.name }}">{{ entity.name }}</h3>
    <a href="{{ entity.url }}/edit" data-toggle="tooltip" ><i class="far fa-edit edit-icon-pos-set" style="color: {{ entity.color.name }}"></i></a>

    <details class="fix-frame">
        <summary class = "style-for-entity-detail-list" style="background-color: {{ entity.color.name }}"> Scheduler</summary>

        {% for event in events %}
           <div class = "events-in-list-style" >• {{ event.date|date('d.m.Y') }} {{ event.name }}</div>
        {% endfor %}
       <!-- <a class = "events-in-list-style-a" href="/event/add/{{ entity.id }}" style="color: {{ entity.color.name }}">+ Add event</a> -->
        <button class="add-new-eventOrdeadline-style" style="color: {{ entity.color.name }}" data-toggle="modal" data-target="#addEntityModal" onclick="load_form('/entity/add/{{ topic.id }}', '#form_add_entity')">
            + Add event
        </button>
    </details>

    <details class="fix-frame">
        <summary class = "style-for-entity-detail-list" style="background-color: {{ entity.color.name }}"> Deadline</summary>
        {% for deadline in deadlines %}
        <div class = "events-in-list-style" >• {{ deadline.date|date('d.m.Y') }} {{ deadline.name }}</div>
        {% endfor %}
        <!--  <a class = "events-in-list-style-a" href="/deadline/add/{{ entity.id }}" style="color: {{ entity.color.name }}">+ Add deadline</a> -->
        <button class="add-new-eventOrdeadline-style" style="color: {{ entity.color.name }}" data-toggle="modal" data-target="#addEntityModal" onclick="load_form('/entity/add/{{ topic.id }}', '#form_add_entity')">
            + Add deadline
        </button>
    </details>

</div>
{% endblock %}
