{% extends 'layout.twig' %}

{% block body %}

<div class = "entity-detail-frame" >
    <h3 class = "name-entity-detail-frame">{{ entity.name }}</h3>
    <a href="{{ entity.url }}/edit" data-toggle="tooltip" ><i class="far fa-edit edit-icon-pos-set"></i></a>

    <details class="fix-frame">
        <summary class = "style-for-entity-detail-list"> Scheduler</summary>

        {% for event in events %}
           <div class = "events-in-list-style" >• {{ event.date|date('d.m.Y') }} {{ event.name }}</div>
        {% endfor %}
        <a class = "events-in-list-style-a" href="/event/add/{{ entity.id }}">+ Add event</a>
    </details>

    <details class="fix-frame">
        <summary class = "style-for-entity-detail-list"> Deadline</summary>
        {% for deadline in deadlines %}
        <div class = "events-in-list-style" >• {{ deadline.date|date('d.m.Y') }} {{ deadline.name }}</div>
        {% endfor %}
        <a class = "events-in-list-style-a" href="/deadline/add/{{ entity.id }}">+ Add deadline</a>
    </details>

</div>
{% endblock %}
