{% extends 'layout.twig' %}

{% block body %}

    {% for topic in topics %}
        <h3 class="name-topic-header-style">{{ topic.name }}</h3> <a href="{{ topic.url }}/edit" data-toggle="tooltip" ><i class="far fa-edit "></i></a><br>

        <div class="entity-buttons-container">
        {% for entity in entities %}
            {# Random color generator for buttons #}
            {% set entityColor = random(['entity-ef534e', 'entity-ec407a', 'entity-ab47bc' , 'entity-7e57c2' , 'entity-5c6bc0' , 'entity-42a5f5' , 'entity-29b6f6' , 'entity-26c6da' , 'entity-26a69a' , 'entity-66bb6a' , 'entity-9ccc65' , 'entity-ffa726' , 'entity-ff7043']) %}

            {% if entity.topic.id == topic.id %}

                <button type="button" class="rounded-button {{ entityColor }}" onclick="location.href='{{ entity.url }}'">
                    {{ entity.name }}
                </button>
            {% endif %}

        {% endfor %}
            <!-- Button for add entity -->
            <div style="display: inline-block;">
                <button class="circle-button"  data-toggle="modal" data-target="#addEntityModal">
                    +
                </button>
            </div>
        </div>
    {% endfor %}
    <!--onclick="location.href='/entity/add'" -->
    <div class="add-entity-buttons-container menu-buttons-container">
        <button type="button"class="rounded-button" data-toggle="modal" data-target="#addTopicModal">
            Add topic
        </button>
    </div>

    <!-- Модальне вікно для addEntity -->
    <div class="modal fade" id="addEntityModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalLabel"> Add New Entity </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/entity/add" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label>Topic</label>
                            <select name="topic" class="form-control" required>
                                {% for topic in topics %}
                                    <option value="{{ topic.id }}" {% if topicId == topic.id %}selected{% endif %}>{{ topic.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                <div class="modal-footer menu-buttons-container">
                    <button type="submit" class="rounded-button">Save</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Модальне вікно для addTopic -->
    <div class="modal fade" id="addTopicModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalLabel"> Add New Topic </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/topic/add" method="post">
                    <div class="modal-body">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" name="name" class="form-control">
                            </div>
                            <div class="form-group">
                                <ul class='dropdown-menu'>
                                    {% for user in users %}
                                        <li>
                                            <a href="#" data-id="{{user.getId() }}">
                                                {{ user.name() }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                    </div>
                    <div class="modal-footer  menu-buttons-container">
                        <button type="submit" class="rounded-button">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br><br>

{% endblock %}
