    <form action="/entity/add" method="post">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" required>
        </div>

        <div class="form-group">
            <label>Topic</label>
            <select name="topic" class="form-control" required>
                {% for topic in topics %}
                    <option value="{{ topic.id }}" {% if topicId == topic.id %}selected{% endif %}>{{ topic.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label>Color</label>
            <select id="select_color" name="color" class="form-control" onchange="$(this).css('background-color', $('#select_color option:selected').html());" required>
                {% for color in colors %}
                    <option value="{{ color.id }}" style="background-color: {{ color.name }}">{{ color.name }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <script>$('#select_color').css('background-color', $('#select_color option:first').html());</script>


