
    <form action="/topic/{{ topic.id }}/update" method="post">

        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" value="{{ topic.name }}" class="form-control">
        </div>
        <div class="form-group">
            <label>Color</label>
            <select id="select_color" name="color" class="form-control" onchange="$(this).css('background-color', $('#select_color option:selected').html());" required>
                {% for color in colors %}
                    <option value="{{ color.id }}" style="background-color: {{ color.name }}" {% if topic.color == color.id %}selected{% endif %}>{{ color.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="modal-footer menu-buttons-container">
            <button type="submit" class="rounded-button">Save</button>
        </div>
    </form>

    <script>$('#select_color').css('background-color', $('#select_color option:selected').html());</script>

