{% extends 'layout.twig' %}

{% block body %}

    <h3>{{ title }}</h3>
    <div class="container-fluid col-8" style="margin: 0px">
        {% for habit in habits %}
            {% if habit.isActual %}
                <div class="habit-container row">
                    <div class="habit-name col-12">
                        {{ habit.name }}
                    </div>
                    <div class="habit-line col-12">

                    </div>
                    <div class="habit-big-num col-3">
                        21
                    </div>
                    <div class="habit-progress-bar col-4">

                        <div class="pie-wrapper progress-45 style-2">
                            <span class="label">  45 <span class="smaller">%</span></span>
                            <div class="pie">
                                <div class="left-side half-circle"></div>
                                <div class="right-side half-circle"></div>
                            </div>
                            <div class="shadow"></div>
                        </div>

                    </div>
                    <div class="col-3">

                    </div>
                </div>
                <div class="under-info-container row">
                    <div class="col-3">
                        During all the time
                    </div>
                    <div class="col-4">
                        This month
                    </div>
                    <div class="habit-more-statistic col-3">
                        <a href="{{ habit.url }}/edit">Edit</a>
                    </div>
                </div>
            {% else %}
                <div class="habit-container row non-actual">
                    <div class="habit-name col-12">
                        {{ habit.name }}
                    </div>
                    <div class="habit-line col-12">

                    </div>
                    <div class="habit-big-num col-3">
                        23
                    </div>
                    <div class="habit-progress-bar col-4">

                        <div class="pie-wrapper progress-45 style-2">
                            <span class="label">   45<span class="smaller">%</span></span>
                            <div class="pie">
                                <div class="left-side half-circle"></div>
                                <div class="right-side half-circle"></div>
                            </div>
                            <div class="shadow"></div>
                        </div>

                    </div>
                    <div class="col-3">

                    </div>
                </div>
                <div class="under-info-container row">
                    <div class="col-3">

                    </div>
                    <div class="col-4">

                    </div>
                    <div class="habit-more-statistic col-3">
                        <a href="{{ habit.url }}/edit">Edit</a>
                    </div>
                </div>
            {% endif %}

        {% endfor %}
    </div>

{% endblock %}
