{% extends 'layout.twig' %}

{% block othercss %}
    <link rel="stylesheet/less" type="text/css" href="/css/st.less" />
    <script src="//cdn.jsdelivr.net/npm/less" ></script>
{% endblock %}

{% block body %}

    <h3>{{ title }}</h3>
    <div class="container-fluid col-12" style="margin: 0px">
        {% for habit in habits %}
            {% if habit.isActual %}
                <div class="habit-container row">
                    <div class="habit-name col-12">
                        {{ habit.name }}
                    </div>
                    <div class="habit-line col-12">

                    </div>
                    <div class="habit-big-num col-3">
                        {{ habit.counter }}
                    </div>
                    <div class="habit-progress-bar col-4">
                        <div class="progress--circle progress--{{ (habit.thisMonthCounter/habit.thisMonthTargetCount*100)|round }}">
                            <div class="progress__number">{{ (habit.thisMonthCounter/habit.thisMonthTargetCount*100)|round(1, 'floor') }}%</div>
                        </div>

                    </div>
                    <div class="col-3">

                    </div>
                </div>
                <div class="under-info-container row">
                    <div class="col-3">
                        During all the time
                    </div>
                    <div class="col-4">
                        This month
                    </div>
                    <div class="habit-more-statistic col-3">
                        <a href="#" onclick="load_form('{{ habit.url }}/edit', '#div_modal_data', 'Edit habit'); $('#modal_global').modal({keyboard: false});" data-toggle="tooltip" title="Edit"><i class="far fa-edit"></i></a>
                    </div>
                </div>
            {% else %}
                <div class="habit-container row non-actual">
                    <div class="habit-name col-12">
                        {{ habit.name }}
                    </div>
                    <div class="habit-line col-12">

                    </div>
                    <div class="habit-big-num col-3">
                        {{ habit.counter }}
                    </div>
                    <div class="habit-progress-bar col-4 non-actual">
                        <div class="progress--circle progress--{{ (habit.thisMonthCounter/habit.thisMonthTargetCount*100)|round }}">
                            <div class="progress__number">{{ (habit.thisMonthCounter/habit.thisMonthTargetCount*100)|round(1, 'floor') }}%</div>
                        </div>
                    </div>
                    <div class="col-3">

                    </div>
                </div>
                <div class="under-info-container row">
                    <div class="col-3">
                        During all the time
                    </div>
                    <div class="col-4">
                        This month
                    </div>
                    <div class="habit-more-statistic col-3">
                        <a href="#" onclick="load_form('{{ habit.url }}/edit', '#div_modal_data', 'Edit habit'); $('#modal_global').modal({keyboard: false});" data-toggle="tooltip" title="Edit"><i class="far fa-edit"></i></a>
                    </div>
                </div>
            {% endif %}

        {% endfor %}
        <div class="habit-container row non-actual">
            <div class="habit-line col-12">
            </div>

            <button style="margin: auto; margin-top:25px;" type="button" class="add-new-topic-style" data-toggle="modal" data-target="#addTopicModal" onclick="load_form('/habit/add', '#div_modal_data', 'Add habit'); $('#modal_global').modal({keyboard: false});">
                <h2> Create new Habit + </h2>
            </button>
        </div>
    </div>

{% endblock %}

