{% extends 'layout.twig' %}

{% block body %}

    <h3>{{ title }}</h3>

    <table class="table table-striped">
        <tr>
            <th>
            </th>
            <th>
                Name
            </th>
            <th>
                Entity
            </th>
            <th>
                Date (yyyy.mm.dd)
            </th>
        </tr>
        {% for deadline in deadlines %}
            <tr>
                <td width="20px">
                    <a href="{{ deadline.url }}/edit" data-toggle="tooltip" title="Edit"><i class="far fa-edit"></i></a>
                </td>
                <td>
                    {{ deadline.name }}
                </td>
                <td>
                    {{ deadline.entity.name }}
                </td>
                <td>
                    {{ deadline.date|date('Y.m.d') }}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
