{% extends 'layout.twig' %}

{% block body %}

    <h3>{{ title }}</h3>

    <table class="table table-striped">
        {% for deadline in deadlines %}
            <tr>
                <td width="20px">
                    <a href="#" onclick="load_form('{{ deadline.url }}/edit', '#div_modal_data', 'Edit deadline'); $('#modal_global').modal({keyboard: false});" data-toggle="tooltip" title="Edit"><i class="far fa-edit"></i></a>
                </td>
                <td>
                    {{ deadline.date|date('d.m.Y H:i') }}
                </td>
                <td>
                    <a style="color: {{ deadline.entity.color.name }}; font-weight: bold" href="/entity/{{ deadline.entity.id }}">{{ deadline.entity.name }}</a>
                </td>
                <td>
                    {{ deadline.name }}
                </td>
                <td width="20px">
                    <a href="#" onclick="open_modal_confirm('Delete deadline','Do you want to delete this deadline?', '/deadline/{{ deadline.id }}/delete', '/deadline'); " data-toggle="tooltip" title="Delete"><i class="fas fa-times"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
