{% extends 'layout.twig' %}

{% block body %}

    <h3>{{ title }}</h3>

    <table class="table table-striped">
        <tr>
            <th>

            </th>
            <th>
                Name
            </th>
            <th>
                Entity
            </th>
            <th>
                Date
            </th>
            <th>
                Start
            </th>
            <th>
                End
            </th>
            <th>
                Topic
            </th>
            <th>
                Place
            </th>
            <th>
                About
            </th>
        </tr>

        {% for event in events %}
            <tr>
                <td width="20px">
                    <a href="{{ event.url }}/edit" data-toggle="tooltip" title="Edit"><i class="far fa-edit"></i></a>
                </td>
                <td>
                    {{ event.name }}
                </td>
                <td>
                    {{ event.entity.name }}
                </td>
                <td>
                    {{ event.timeStart|date('d.m.Y') }}
                </td>
                <td>
                    {{ event.timeStart|date('H:i') }}
                </td>
                <td>
                    {{ event.timeEnd|date('H:i') }}
                </td>
                <td style="background-color: {{ event.entity.topic.color.name }}">
                    {{ event.entity.topic.name }}
                </td>
                <td>
                    {{ event.place }}
                </td>
                <td>
                    {{ event.about }}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
